<html>
  <style>
    body {color: white;}
    body {font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
  html {background-color: rgb(109, 184, 102, 1)}
  </style>
    <title>TheGoodPlaceReComs</title>
  </head>
  <body>
    <h1>
      <h1><strong> Isaac's ReComs for content after finishing the good place!</strong></h1>
      <p>
        <img
         width="560" height="315" src="https://m.media-amazon.com/images/S/pv-target-images/22e42886b2fb8c907b3d5af3914dd343b1d9c89492dd8aef871eefe3b52d8130.jpg"
      </p>
      <p><h1><strong>
        1.The Good Place Podcast
      <p><h5><em>There are a good amout of episodes of the good place podcast, its full of plenty more great stories from the good place world and captivating stories from the cast.</em></h5></p>
        <p><iframe width="560" height="315" src="https://www.youtube.com/embed/AN-TCi0H6iI?si=O58uNAcHexuGeep1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></p>
      </h2>
      <a href="https://podcasts.apple.com/au/podcast/the-good-place-the-podcast/id1388743215"><button>Apple PodCast Link</button></a>
      <p><h1><strong>2. Youtube Shawn Mini Series</strong></h1></p>
      <p><h1><em>The shawn mini sereis is a peek into when the bad place where choosing the test subjects for the experement, it's great fun so check it out!</em></h1></p>
<p><iframe width="560" height="315" src="https://www.youtube.com/embed/_DZcLh9c1_s?si=9JRwf1QgzqwGP2Ju" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></p>
      <p><em> </em></p>
      <h1><a href="https://www.youtube.com/watch?v=VsgGKhF6ym0&list=PLpgOGnLxJ6X9fWTlndyqI1v4jQ0qn5uPv"><button>Playlist Of The Full Series</button></a></h1>
      <p><h1><strong>3. The Good Place YouTube Channel</strong></h1></p>
<p><h1><em>This is the offical YouTube Channel Of The Good Place, usally they just upload clips and complations, but sometimes its unused content and digital exulsives (like the shaun special)</em></h1></p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/PxiDoO84zjg?si=ZtSXScX9n2ZE3gvR" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<p><h1><strong>4. Fan theory/content</strong></h1></p>
<p><h1><em>these type of things are great because you get to be apart of a fandom and get more content!</em></h1></p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/wMXN6-hZZzA?si=gL6dV80HOt1XLSma" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<h1><a href="https://www.youtube.com/watch?v=zDHSQo0HWKs"><button>YouTube Video About The Good Place Episode That Changed Everything </button></a></h1>
<p>‎ </p>
<p>‎ </p>
<p>‎ </p>
<p><h5><em>2025 Isaac Jeffreys. All work mentioned in this site is copyrighted, "The Good Place" and all surrounding IP's and owned by NBC and Micheal Schur. thanks for reading!!</em></h5></p>
    </h1>
  </body>
</html>