<html>
  <style>
    .myheader {color: white;}
  html {background-color: rgb(109, 184, 102, 1)}
  </style>
    <title>TheGoodPlaceReComs</title>
  </head>
  <body>
    <h1>
      <h1><strong> Isaac's ReComs for content after finishing the good place!</strong></h1>
      <p>
        <img
         width="560" height="315" src="https://m.media-amazon.com/images/S/pv-target-images/22e42886b2fb8c907b3d5af3914dd343b1d9c89492dd8aef871eefe3b52d8130.jpg"
      </p>
      <p><h1><strong>
        my first choice for extra content is the good place podcast
      <p><h5><em>there are a good amout of episodes of the good place podcast where different people interview the cast full of plenty more great stories from the good place world.</em></h5></p>
        <p><iframe width="560" height="315" src="https://www.youtube.com/embed/AN-TCi0H6iI?si=O58uNAcHexuGeep1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></p>
      </h2>
      <p><h1><strong> my next choice is the shawn mini series</strong></h1></p>
      <p><h1><em>The shawn mini sereis is a peek into when the bad place where choosing the test subjects for the experement, it's great fun so check it out!</em></h1></p>
<p><iframe width="560" height="315" src="https://www.youtube.com/embed/_DZcLh9c1_s?si=9JRwf1QgzqwGP2Ju" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></p>
      <p><em> </em></p>
    </h1>
  </body>
</html>